# Dependency folders
node_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# Vercel folder
.vercel
combined_project_files.txt